/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
header {
    width: 1440px;
    max-width: 1440px;
    height: 79px ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
main {
    width:1,440px;
    height:1,722.02px;
    padding: 30px 50px 30px 50px;
    gap: 35px;
    display:flex;
    flex-direction:column; 

}
.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

/* START OF NAVBAR */
.navbar {
    width: 344px;
    height: 35px;
    display: flex;
    justify-content: space-around;
}


.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px white;
}

.nav-button:hover{
    color:#0065FC;
    border-top: solid 1px #0065FC;
}

.logo-container {
    width:161.09px;
    height: 79px;
    gap: 10px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
}
/* END  OF NAVBAR */


/* START OF FILTRE*/ 
.filtres-container{
    display: flex;
    font-weight: bold;
    margin-top: 20px;
}
.filtres{
    display: flex;
    gap :20px;
    margin-left :15px;

}
.filtre-item{
    border:   #D9D9D9 solid 2.3px ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.filtre-item:hover{
    cursor: pointer;
}

#filtres-icon{
    transform: scale(120%);
}

.filtre-item:hover{
    background-color: #DEEBFF;
}
/* END OF FILTRE*/ 


/* START OF INFO PART*/

.info-nombre-logements{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-nombre-logements i{
    background-color: #0065FC;
    color:white;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.info {
    width: 1,340px;
    height: 281px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    gap: 20px;
}

.info-text {
    text-align: start;
}
.info-text h2{
    margin: 0;
    padding: 0;
}
.info-text p{
    line-height: 0;
}

/* END OF INFO PART*/


/* START OF SEARCH BAR*/ 
.search-bar{
    display: flex;
    align-items: center;
    height: 49px;
    width: 377px;
    margin-top: 5px;
}

.search-button{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
    height: inherit;
    width: 132px;
    font-weight: bold;
    font-size: large;
}
.search-button:hover{
    cursor:pointer;
}
.map-input{
    width:195px;
    border: #F2F2F2 solid 2px;
    height: 88%;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.map-input::placeholder{
    font-weight: bold;
    color: #121820;
}

.map-logo-container{
    height:inherit;
    width: 50px;
    border-radius: 15px 0 0 15px;
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2
}
#map-logo {
    transform: scale(120%);
    color: #121820;
}   

/* END OF SEARCH BAR*/ 


/* START OF FOOTER*/
footer {
    display: flex;
    max-width: 1340px;
    height: 163px;
    background-color: #F2F2F2;
    margin-left: 50px;
}

.footer-part{
    width : 33.3%;
}
.footer-part ul{
    list-style: none;
    margin-left: 0;
    padding-left: 8px;
}
.footer-part  li{
    margin: 15px;
}
.footer-part h3 {
    margin-bottom: 0;
}
/* END OF FOOTER*/ 



/* START OF ACTIVITES */
.activites {
    height: 560px;
}
.activites h2{
    margin-left: 30px;
    display: block;
}
.act-card-container{
    height: 439px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.activites .card{
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    height : 439px;
    width: 297.5px;
    margin: 0;
    padding: 0;
}

/* END OF ACTIVITES */



.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    width: 1340px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    max-height: 614px;
}
.hebergements .card {
    width: 250.33px;
    height: 207.25px;
    padding:0;
}
.heb-card-lign{
    display: flex;
    margin-bottom: 30px;
    width: 811px;
    gap: 30px;
}
.hebergements h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
.afficher-plus {
    margin-bottom: 0;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    max-height: 614px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

